body {
  background: #F9F9F9;
  padding-top: 148px;
}
header {
  width: 100%;
  height: 58px;
  background: #fff;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  border-bottom: 1px solid #eee;
}
header .left {
  margin-top: 14px;
  margin-left: 50px;
  display: inline-block;
}
header .left img {
  width: 84px;
  margin-right: 50px;
  vertical-align: middle;
  cursor: pointer;
}
header .left strong {
  vertical-align: middle;
  font-size: 15px;
  color: #333333;
}
header .right {
  float: right;
  font-size: 15px;
  margin-right: 0.5rem;
}
header .right .language-toggle {
  display: inline-block;
  border: 1px solid #333333;
  border-radius: 100px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  position: relative;
  top: 15px;
  cursor: pointer;
}
header .right .language-toggle .language-left {
  display: inline-block;
  font-size: 12px;
  color: #333333;
  text-align: center;
  padding-right: 10px;
  border-right: 1px solid #333;
}
header .right .language-toggle .language-left img {
  width: 14px;
  height: 14px;
  margin-top: 5px;
}
header .right .language-toggle .triangle-wrap {
  display: inline-block;
}
header .right .language-toggle .triangle-wrap .triangle {
  width: 0;
  height: 0;
  margin-top: 2px;
  border: 4px solid transparent;
  border-top: 4px solid #333;
}
header .right .language-toggle .select-country {
  display: none;
  position: absolute;
  top: 27px;
  left: 0;
  width: 73px;
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 12px;
  color: #333333;
  background: #fff;
}
header .right .language-toggle .select-country ul li {
  display: block;
  text-align: center;
  line-height: 25px;
  border-bottom: 1px solid #333;
}
header .right .language-toggle .select-country ul li:last-child {
  border-bottom: none;
}
header .right .language-toggle .select-country ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.continar {
  background: #F9F9F9;
}
.continar .qa-wrapper {
  width: 12rem;
  min-width: 1200px;
  margin: 0 auto;
  border: 1px solid #B2B2B2;
  border-radius: 10px;
  padding: 50px 50px 100px 50px;
  box-sizing: border-box;
}
.continar .qa-wrapper .qa-title {
  font-size: 34px;
  color: #333333;
  margin-bottom: 50px;
}
.continar .qa-wrapper h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
}
.continar .qa-wrapper p {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  text-align: justify;
}
.continar .qa-wrapper .intall-img {
  margin-bottom: 50px;
  margin-top: 20px;
}
.continar .qa-wrapper .intall-img-last {
  margin-top: 20px;
  width: 444px;
}
.continar .qa-wrapper .step1-img {
  width: 412px;
}
.continar .qa-wrapper .down1-img,
.continar .qa-wrapper .down3-img,
.continar .qa-wrapper .down4-img,
.continar .qa-wrapper .down5-img {
  width: 50%;
}
.continar .qa-wrapper .step2-img {
  width: 567px;
}
.continar .qa-wrapper .step3-img {
  width: 423px;
}
.continar .qa-wrapper .step4-img {
  width: 528px;
}
.continar .goback-btn {
  width: 120px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
}
.continar .goback-btn .goback-a {
  display: block;
  width: 120px;
  height: 40px;
  border: 1px solid #B2B2B2;
  border-radius: 3px;
  color: #5F86F5;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.continar .privacy-wrapper {
  width: 12rem;
  min-width: 1200px;
  margin: 0 auto;
  border: 1px solid #B2B2B2;
  border-radius: 10px;
  padding: 50px 50px 100px 50px;
  box-sizing: border-box;
}
.continar .privacy-wrapper .privacy-title {
  font-size: 34px;
  color: #333333;
  margin-bottom: 50px;
}
.continar .privacy-wrapper h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
}
.continar .privacy-wrapper p {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 20px;
}
.continar .privacy-wrapper p.otherline {
  text-indent: 25px;
  margin-top: -20px;
}
.continar .privacy-wrapper span {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  text-align: justify;
}
.continar .privacy-wrapper .date-text {
  margin-top: 70px;
}
.continar .privacy-wrapper .date-text h1 {
  font-size: 18px;
}
footer {
  height: 200px;
  background: #fff;
  text-align: center;
}
footer .footer-wrap {
  margin: 0 auto;
  font-size: 14px;
  color: #AFAFAF;
  letter-spacing: 0.84px;
  line-height: 24px;
  padding-top: 70px;
}
footer .footer-wrap .relation-list {
  padding-bottom: 20px;
}
footer .footer-wrap .relation-list ul .img-icon {
  display: inline-block;
  position: relative;
  z-index: 2;
}
footer .footer-wrap .relation-list ul .img-icon a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 30px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
}
footer .footer-wrap .relation-list ul .img-icon a.img-twitter {
  background: url("../img/twitter-no.png") no-repeat;
  background-size: cover;
}
footer .footer-wrap .relation-list ul .img-icon a.img-qq {
  background: url("../img/qq-no.png") no-repeat;
  background-size: cover;
}
footer .footer-wrap .relation-list ul .img-icon a.img-wechat {
  background: url("../img/wechat-no.png") no-repeat;
  background-size: cover;
}
footer .footer-wrap .relation-list ul .img-icon a.img-git {
  background: url("../img/github-no.png") no-repeat;
  background-size: cover;
  margin-right: 0;
}
footer .footer-wrap .relation-list ul .img-icon a:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
footer .footer-wrap .relation-list ul .img-icon a:hover.img-twitter {
  background: url("../img/twitter-yes.png") no-repeat;
  background-size: cover;
  box-shadow: 0 2px 10px 0 #C4E8FF;
}
footer .footer-wrap .relation-list ul .img-icon a:hover.img-qq {
  background: url("../img/qq-yes.png") no-repeat;
  background-size: cover;
  box-shadow: 0 2px 10px 0 #BFE7FF;
  position: relative;
}
footer .footer-wrap .relation-list ul .img-icon a:hover.img-qq::after {
  content: '';
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 40px;
  left: -24px;
  background: url('../img/qqcode.png') no-repeat;
  background-size: cover;
  box-shadow: 0 2px 10px 0 #d2d2d2;
}
footer .footer-wrap .relation-list ul .img-icon a:hover.img-wechat {
  background: url("../img/wechat-yes.png") no-repeat;
  background-size: cover;
  box-shadow: 0 2px 10px 0 #B6D5B4;
  position: relative;
}
footer .footer-wrap .relation-list ul .img-icon a:hover.img-wechat::after {
  content: '';
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 40px;
  left: -24px;
  background: url('../img/qrcode.png') no-repeat;
  background-size: cover;
  box-shadow: 0 2px 10px 0 #d2d2d2;
}
footer .footer-wrap .relation-list ul .img-icon a:hover.img-git {
  background: url("../img/github-yes.png") no-repeat;
  background-size: cover;
  box-shadow: 0 2px 10px 0 #CECECE;
}
footer .footer-wrap .footer-msg img {
  width: 14px;
  height: 10px;
  margin: 0 5px;
  vertical-align: middle;
}
footer .footer-wrap .footer-msg a {
  text-decoration: underline;
  font-size: 14px;
  color: #B2B2B2;
  cursor: pointer;
}
footer .footer-wrap .footer-msg .footer-text {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}
footer .footer-wrap .footer-msg .footer-text::before {
  content: '.';
  position: absolute;
  top: -5px;
  left: -20px;
}
footer .footer-wrap .footer-msg .footer-text::after {
  content: '.';
  position: absolute;
  top: -5px;
  right: -22px;
}
